/* This is a single-line comment for linking issue and pull request testing */

* {
    font-size: 24px;
    background-color: pink;
}

h1 {
    text-align: center;
    text-decoration: underline;
    background-color: gold;
}

label[for = "comment"]{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.attendance {
    font-family: 'Roboto Condensed', sans-serif;
    position: sticky;
    top: 0;
}

.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex_container > label {
    padding: 20px;
    flex-grow: 5;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}

.grid-item-note {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: orange;
}

.grid-item4 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: orange;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: antiquewhite;
}

i, b{
    color: #00008B;
    display: inline-block;
}

em, strong {
    color: brown;
    display: block;
}

article p {
    color: #00008B;
    margin: 1cm 2.5% 0.5in 2.5%;
}

section > p {
    margin-top: 1cm;
    margin-bottom: 0.5in;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

p ~ video {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    width: 50vw;
    height: 50vh;
}

header + p {
    padding: 0.5% 0% 0.5% 5%;
    border-style: dashed;
    border-radius: 20px;
    border-color: rgb(174, 19, 194);
    border-width: 5px;
}

ol {
    position: relative;
    left: 5%;
    color : gold
}

li.mention{
    background-color:green;
    width: 5em;
}

li.omit{
    background-color: rgb(178, 36, 14);
    width: 5em;
}

button:hover {
    background-color: aqua;
}

button:active {
    box-shadow: 2px 2px 5px aqua;
}

@media screen and (min-width: 1500px) {
    * {
      background-color: aliceblue;
    }
  }