/* This is a single-line comment for linking issue and pull request testing */

* {
    font-size: 24px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    background-color: gold;
}

.attendance {
    font-family: 'Roboto Condensed', sans-serif;
}

#summary{
    position: sticky;
    top: 0;
}

i, b{
    color: #00008B;
    display: inline-block;
}

em, strong {
    color: brown;
    display: block;
}

article p {
    color: #00008B;
    margin: 1cm 2.5% 0.5in 2.5%;
}

section > p {
    margin-top: 1cm;
    margin-bottom: 0.5in;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

p ~ video {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    width: 50vw;
    height: 50vh;
}

header + p {
    padding: 0.5% 0% 0.5% 5%;
    border-style: dashed;
    border-radius: 20px;
    border-color: rgb(174, 19, 194);
    border-width: 5px;
}

ol {
    position: relative;
    left: 5%;
    color : gold
}

li.mention{
    background-color:green;
    width: 5em;
}

li.omit{
    background-color: rgb(178, 36, 14);
    width: 5em;
}

